.header {
  width: 100%;
  height: 3rem;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  background-color: #f9ff9f;
}

.logo {
  font-size: 1.5rem;
  color: rgb(255, 153, 0);
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 174, 23);
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: rgb(212, 118, 30);
}

.nav a.active{
  text-decoration: underline;
}

.nav button {
	background:linear-gradient(to bottom, #ffd753 5%, #ffe81d 100%);
	background-color:#ffa600;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#383838;
	font-size:0.8rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.nav button:hover {
	background:linear-gradient(to bottom, #ffcb20 5%, #ff9b06 100%);
	background-color:#f6f6f6;
}
.nav button:active {
	position:relative;
	top:2px;
}
